@font-face {
    font-family: "Young Serif";
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
    font-variation-settings: "wght" 400;
}

@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-variation-settings: "wght" 400;
}

@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-variation-settings: "wght" 600;
}

@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-variation-settings: "wght" 700;
}

:root {
    --primary-Nutmeg: hsl(14, 45%, 36%);
    --primary-DarkRaspberry: hsl(332, 51%, 32%);

    --neutral-White: hsl(0, 0%, 100%);
    --neutral-RoseWhite: hsl(330, 100%, 98%);
    --neutral-Eggshell: hsl(30, 54%, 90%);
    --neutral-LightGrey: hsl(30, 18%, 87%);
    --neutral-WengeBrown: hsl(30, 10%, 34%);
    --neutral-DarkCharcoal: hsl(24, 5%, 18%);

    --fontsize-paragraph: 16px;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit";
}


h1,h2,h3,h4,h5,h6 {
    font-family: "Young Serif";
}

p {
    font-weight: 400;
}

.img-1 {
    width: 100%;
    
}

.heading h1,.heading p {
    padding: 0 2rem;
}

.heading h1 {
    font-size: 3rem;
} 

.heading p {
    font-size: 1.2rem;
    margin-top: -2rem;
}

.preparation {
    border: 1px solid var(--neutral-RoseWhite);
    margin: 0 2rem;
    width:34.5rem;
    border-radius: 1rem;
    background-color: var(--neutral-RoseWhite);
}

.preparation h3 {
    color: var(--primary-Nutmeg);
    margin-left: 1rem;
}

.preparation ul li {
    font-size: 1.2rem;
}


.ingredients ul h2 {
    font-size: 1.8rem;
    color: var(--primary-DarkRaspberry);
}

.ingredients ul li {
    padding: 0.4rem;
    margin-left: 1.5rem;
    font-size: 1.2rem;
}
.ingredients ul li:last-child {
    margin-bottom: 2.3rem;
}

hr {
    width: 90%;
    color: var(--neutral-LightGrey);
}

.second ol h2 {
    margin-top: 2.8rem;
    color: var(--primary-DarkRaspberry);
}

.second ol li {
    padding: 0.4rem;
    margin-left: 1.5rem;
    font-size: 1.2rem;
}

.second ol li:nth-child(2) {
    margin-top: 2.2rem;
}

.second ol li:last-child {
    margin-bottom: 2rem;
}

.third h2, .third p {
    padding: 0 2rem;
}

.third h2 {
    font-size: 3rem;
    margin-top: 3.5rem;
    color: var(--primary-DarkRaspberry);
}

.third p {
    font-size: 1.2rem;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin:2.4rem 2rem;
    font-size: 1.2rem;
}

th, td {
    padding: 1rem;
    border-bottom: 1px solid var(--neutral-LightGrey);
    text-align: left;
}

 tr:last-child th, tr:last-child td{
    border-bottom: 0;
}

th {
    font-weight: normal;
}

td {
    color: var(--primary-DarkRaspberry);
    font-weight: 700;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media ( min-width: 768px) {
    .main {
       
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--neutral-RoseWhite);
        
    }

    .card {
        width: 40rem;
        border: 1px solid white;
        border-radius: 1rem;
        margin: 1rem auto;
        flex-direction: column;
        background-color: var(--neutral-White);
    }

    .img-wrapper {
        padding: 1rem;
    }

    .img-1 {
        border-radius: 1rem;
    }

     
     

}